@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    /* #はHTMLのID属性
   */
}

#head {
    display: flex;
    justify-content: space-between;
}

#middle {
    display: flex;
    justify-content: space-between;
}

#item {
    display: flex;
    justify-content:
        space-between;
}

/* アコーディオンメニュー */
.menu-btn {
    width: 60px;
    height: 10px;
}

.inn {
    margin: auto;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.line {
    position: absolute;
    display: inline-block;
    background-color: #000;
    height: 1px;
    left: 0;
    width: 100%;
    transition: 0.3s;


}

a:hover {
    color: darkblue;
}

.menu {
    position: absolute;
    top: 51px;
    width: 20%;
    height: 80px;
    background-color: #fff;
    opacity: 0;
    transition: .3s ease-in-out;
    pointer-events: none;
    transform: translateY(-30px);
    padding: 10px 10px 20px;
    right: 0px;
    border: 1px solid;
    border-color: darkblue;
    margin-left: 70px;
    text-align: center;
    display: flex;
    flex-flow: column;
    padding: 32px;




}

.menu.is-open {
    opacity: 1;
    transform: translateY(0);
    margin-left: 58px;

}


.menu input {
    display: none;
}

/*バー部分*/
.menu label {
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #fff;
    line-height: 1;
    position: relative;
    margin: 0 0 10px;
    padding: 10px;
    background-color: #333;
}

.atras {
    height: 50px;
}

.topIcon {
    height: 25px;
    margin: 10px;
}

.users {
    margin-left: 450px;
    color: #fff;
    font-size: 14px;
    font-weight: 20px;
    text-align: right;
    padding: 21px;
    width: 90px;



}

.Item {
    margin-left: 80px;

}

.icon {
    display: inline-block;
    background-color: darkblue;
    color: #fff;
    text-align: center;
    line-height: 25px;
    padding: 10px;

}

.home {
    padding: 20px;
}

.icon:hover {
    background-color: red;
}

.accordion-title:after {
    content: "";
    position: absolute;
    right: 40px;
    top: 3%;
    transition: all 0.2s ease-in-out;
    display: block;
    width: 8px;
    height: 8px;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);

}

.accordion-title.open:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 3.5%;

}
